body{
    font-family: 'Open Sans', sans-serif;
}
*{
    margin: 0px;
    padding: 0px;
}

/* this is header section css */
header{
    width: 100%;
    height: 100vh;
    background-color: #FCEEF1;
    border: 2px solid rebeccapurple;
    

}
.header-container{
    display: flex;

}
.header-text{
    margin-top: 150px;
    margin-left: 90px;
    

}
.titel{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}
h6{
    color: #7f7676;
    font-size: 16px;
}
.paragrap{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    width: 50%;
    margin-top: 20px;

}
.heading-image{
    width: 580px;
    height: 695px;
    margin-right: 50px;
    margin-bottom: 0px;
    
}
.btn-primary{
    padding: 20px 43px;
    background-color: #E55473;
    color: white;
    border: 0;
    border-radius: 5px;
    margin-top: 20px;
}